{% extends "layout.html"%}

{% block content%}
<div class="col-sm-6">
        <section>
          <div id="body">
          <h1>Hi, I am Neelima.</h1>
          <h4>I am learning Madhubani art.</h4>
          <p class="text-black-50">It all stated in the 2018. I was watching Kaun Banega Crorepati (who will be the billionaire) and Mr. Bachchan asked a question about Madhubani art. A picture was shown to the contestant and contestant has to identify what kind of painting was it. I had no clue then what was the right answer, but I was so mesmerized with the picture. My mind started digging in - What is this painting?  Who made it? W hat is the story behind this painting?</p>
          <p class="text-black-50">The show ended so did my mind digger, but that image always stayed in my head. It was the year 2021, covid has made our live physically limited but mentally unlimited. I started browsing about that picture and then the art, then I started following many Madhubani artists. The one that changed my life was Ms. Bharti dayal. </p>
          <p class="text-gray"><em> "The parallel lines that are the hallmark of MAdhubani art communicate the universal philosophy of duality and coexistance. Hot-cold, Morning-night, Man-women, Where there is Shiva, there will be Shakti." </em> </p>
          <p class="text-black-50">These lines were so impressive that it changed the way I looked at art. All the scribbling that I used to while attending corpora call started making sense to me. So I took the pen and started drawing lines and it was therapeutic, a form of meditation itself. And that how my journey with this form of art started. </p>
          <button type="button" class="btn btn-outline-danger">Know more</button>
        </div>
      </section>
      </div>
      <div class="col-sm-4">
        <img src="../static/images/fish-banner.jpg" class="rounded img-fluid p-3" alt="Madhubani fish" >
      </div>
    </div>
{% endblock %}